PORT=4000
DATABASE_URL="mysql://root:aluno@localhost:3306/db_name"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_NAME="db_name"

# configuracoes do token jwt
JWT_SECRET="your_jwt_secret_key"
JWT_TOKEN_AUDIENCE="yout_jwt_audience"
JWT_TOKEN_ISSUER="your_jwt_issuer"
JWT_TTL="3600s"